USE [ear]
GO
/****** Object:  Table [dbo].[Points_saved]    Script Date: 01/27/2016 00:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Points_saved](
	[colx] [varchar](50) NULL,
	[coly] [varchar](50) NULL,
	[colz] [varchar](50) NULL,
	[frame] [varchar](50) NULL,
	[color] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
